body {
	margin: 0;
	position: relative;

}

p {
	margin: 0;

}

h2 {
	margin: 0;
}

.header {
	font-family: Montserrat-SemiBold;
	font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 42px;

}

.img__wordmark {
	display: inline-flex;
	align-items: center;
	width: 166px;
	height: 51px;

}

.header__nvg {
	display: flex;
	width: 489px;
	height: 19px;
	justify-content: space-between;
	text-decoration: none;
	padding-left: 34.5px;

}

.header__right {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 203px;
	height: 19px;

}

.header__link {
 	font-family: Montserrat-SemiBold;
	font-size: 15px;
	text-decoration: none;

 }
button {
	outline: none;
	background: none;
	border: none;

}

.burger {
    display: inline-flex;
    width: 24px;
    height: 15px;

}

.main__wrapper {
	background-image: url(../images/teslalogocar.png);
	background-repeat: no-repeat;
	background-position-y: 35px;
	height: 594px;
	width: 100%;
    margin-bottom: 60px;

}

.main__title {
	font-family: Montserrat-SemiBold;
	font-size: 90px;
	text-align: center;
	padding-top: 34px;
    padding-left: 13px;
    height: 100px;

}

.main__slogan {
    font-family: Montserrat-Medium;
	font-size: 15px;
    text-align: center;
	padding-left: 15px;

}

.main__footer {
	display: flex;
	justify-content: space-around;

}

.footer__first {
	display: flex;
    align-items: center;
}

.icon__speed {
	width: 46px;
    height: 34.13px;

}

.main__wrapfirst{
	display: flex;
	flex-direction: column; 
	justify-content: center;
	
}

.main__descr_big {
	font-family: Montserrat-SemiBold;
	font-size: 20px; 

}

.big {
	font-family: Montserrat-SemiBold; 
	font-size: 35px;

}

.main__descr_small {
	
	font-family: Montserrat-Regular;
	font-size: 12px;

}

.footer__second {
	display: flex;
	align-items: center;

}

.main__wrapsecond{
 	display: flex;
 	flex-direction: column;
 	justify-content: center
 	
 }

 .icon__road {
 	width: 26.4px;
 	height: 42.37px;

 }

 .footer__third {
 	display: flex;
 	align-items: center;
 	

}

 .icon__wheel {
 	width: 22px;
 	height: 22px;

}



.main__link {
	font-family: Montserrat-Bold;
	font-size: 13px;
	color : #000;
	text-decoration: none;
	text-align: center;
	
}

.main__wrapfourth {
	display: flex;
	align-items: center;

}

.main__order {
	font-family: Montserrat-Bold;
	font-size: 13px;
	color : #000;
    text-decoration: none;
	border: 2px solid #E51937;
	
	
	width: 160px;
	height: 40px;
   
}

.end {
	display: flex;
	justify-content: center;

}
